{% extends "base.html" %}
<!--new_post is a POST request-->

{% block content %}

    <h1>New Post</h1>
    <form action='/newpost', method="POST">
    
        <label>
            Title 
        <br>
            <input type="text" name="blog_title" />
            <span class="error">{{title_error}} </span>  
        </label>
        <br>

        <label>
            Post
        <br>
        <textarea name="blog_body" rows="10" cols="20"></textarea>    
        <span class="error">{{body_error}} </span>  
        </label>
        <br>

        <input type="submit" value='Add Entry' />
    </form>
    
    <hr />


{% endblock %}    
    